:root{
    --fondoCabecera:#df183d;
    --colorFondo:#ffd966;
    --colorFondo-uno:#d4e157;
    --colorFondo-dos:#f3e97a;
    --colorFondo-tres:#A5DC86;
    --colorFondo-cuatro:#f7f7f7;
    --fondoBoton:#4c1130;
    --fondoHover:#134f5c;
    --colorTexto:#20124d;
    --colorTexto-Alterno:#fff;
}